.sidebar{
    text-align: left;
    padding: 10px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
}

.sidebar > p{
    font-size: 13px;
    padding-bottom: 10px;
}
.sidebar_recentSearches{
    display: fles;
    font-size: 13px;
    color: gray;
    font-weight: bolder;
    cursor: pointer;
    margin-bottom: 5px;
    padding: 5px;
}

.sidebar_recentSearches:hover {
    background-color: whitesmoke;
    border-radius: 10px;
    cursor: pointer;
    color: black;
}

.sidebar_hash{
    margin-right: 10px;
    margin-left: 5px;
}